* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: whitesmoke;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
}

/* NAVBAR */

#navbar {  
  position: fixed;
  height: 100%;  
  border-right: 2px solid black;
  width: 300px;
}

nav header {
  font-size: xx-large;
  padding: 15px;  
  text-align: center;
}

.nav-link {
  width: 100%;
  display: block;
  border-top: 2px solid black;  
  padding: 10px;
  font-size: larger;
  text-decoration: none;
  color: black
}

/* MAIN DOC */

#main-doc {
  margin-left: 21rem;
}

.main-section {
  margin-right: 30px;
}

.main-section header {
  padding-top: 15px;
  font-size: x-large;
  margin-bottom: 15px;
  margin-left: -10px;
}

.main-section p{
  text-align: justify;
  margin-bottom: 10px;
  font-size: large;
}

section ul {
  list-style-type: none;
}

li {
  padding: 7px;
}

code, pre {
  background-color: lightgray;
}

.code {
  background-color: lightgray;
  padding: 10px;  
}

@media (max-width: 780px) {  
  #navbar {         
    height: 200px;
    overflow-y: auto;  
    border-right: none;
    width: 100%;      
    z-index: 999;        
  }

  #main-doc {
    position: relative;
    top: 200px;    
    margin-left: 30px;
  }

}